xml-resources/web-service-references/StudentWs/wsdl/localhost_8080/PBO2-web-W09/StudentWs.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://service.robby.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.robby.com/">

<xs:element name="addStudent" type="tns:addStudent"/>

<xs:element name="addStudentResponse" type="tns:addStudentResponse"/>

<xs:element name="showAllStudents" type="tns:showAllStudents"/>

<xs:element name="showAllStudentsResponse" type="tns:showAllStudentsResponse"/>

<xs:complexType name="showAllStudents">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="showAllStudentsResponse">
<xs:sequence>
<xs:element name="return" type="tns:student" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="student">
<xs:sequence>
<xs:element name="birthDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="created" type="xs:dateTime" minOccurs="0"/>
<xs:element name="department" type="tns:department" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="department">
<xs:sequence>
<xs:element name="code" type="xs:string" minOccurs="0"/>
<xs:element name="created" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addStudent">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="birthDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="departmentCode" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addStudentResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>